body {
  font-family: sans-serif;
  text-align: center;
  color: #666;
}

h1,
h2 {
  font-weight: normal;
}

a {
  color: green;
  text-decoration: none;
}

.mp-image {
  max-width: 80%;
  display: inline-block;
}
